VITE_FIREBASE_API_KEY=AIzaSyAq7dFtMGJ4cUeopo36-oLHh9bCmmVlUUM
VITE_FIREBASE_AUTH_DOMAIN=focusmate-c465a.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=focusmate-c465a
VITE_FIREBASE_STORAGE_BUCKET=focusmate-c465a.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=114537195333
VITE_FIREBASE_APP_ID=1:114537195333:web:4faf01e91480e6316bc02c
VITE_FIREBASE_MEASUREMENT_ID=G-MJ07G1D8ZC
VITE_GOOGLE_CLIENT_ID=114537195333-n8ch9qhg4oa14kbig5sgre6m4ln8vi5c.apps.googleusercontent.com
